name: GitHub Actions Demo
on:
  # <VERIFY>
  # This workflow checks out source on pull request only. Pushes to 
  # the main branch require a different trigger.
  # <VERIFY>
  push:
   
  # pull_request_target allows us to run jobs against forks that require
  # repoository and/or organization secrets.  
  pull_request_target:
    branches: [ master ]
jobs:
  approve:
    runs-on: ubuntu-latest

    steps:
    - name: Approve
      run: echo For security reasons, all pull requests need to be approved first before running any GitHub Actions.
      
  # This should run source from the source repo. PRs from forks will
  # only run if the pull request author is trusted! This is a manual
  # process on the first commit.
  #
  # This job simply runs a code change, to prove that we are working
  # with code from the forked repo -- this is NOT the default checkout
  # behavior for a pull_request_target action.
  change-source:
    runs-on: ubuntu-latest
    needs: [approve]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          
      # This script should have changes from the forked repo
      - run: "${GITHUB_WORKSPACE}/src/stuff.sh"
      
  # This job runs mayhem for API, and requires our secret to run 
  # successfully.
  mapi:
    runs-on: ubuntu-latest
    needs: [approve]
    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
      with:
        ref: ${{github.event.pull_request.head.ref}}
        repository: ${{github.event.pull_request.head.repo.full_name}}

    # This script should be run from the forked repo
    - run: "${GITHUB_WORKSPACE}/src/stuff.sh"

    # Run Mayhem for API
    - name: Run Mayhem for API to check for vulnerabilities
      uses: ForAllSecure/mapi-action@v1
      continue-on-error: true
      with:
        mapi-token: ${{ secrets.MAPI_TOKEN }}
        api-url: https://demo-api.mayhem4api.forallsecure.com/api/v3/
        api-spec: https://demo-api.mayhem4api.forallsecure.com/api/v3/openapi.json
        duration: 15sec
        target: this is totally ignored!
        sarif-report: mapi.sarif
        html-report: mapi.html

    # Archive HTML report
    - name: Archive Mayhem for API report
      uses: actions/upload-artifact@v2
      with:
        name: mapi-report
        path: mapi.html

    # Upload SARIF file (only available on public repos or github enterprise)
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: mapi.sarif
